{% extends 'base.html.twig' %}


{% block title %}Category{% endblock %}

{% block notice %}
    {{ include("default/breadcrumb.html.twig",{"object":category}) }}
{% endblock %}

{% block main_sider %}
    {{ include("default/new_content.html.twig",{'name': '相关内容','col': 2,"albums":albums}) }}
    {% if albums.haveToPaginate %}
    <div class="flex-wr-c-c m-rl--7 p-t-15 m-5">
        {{ pagerfanta(albums,"twitter_bootstrap4",{ 'proximity': 2}) }}
    </div>
    {% endif %}
{% endblock %}



{% block right_sider %}
    {{ include("default/height-main-right.html.twig",{'albums':category.albums }) }}
    {% if stars != null %}
    {{ include("default/right-star.html.twig",{"stars":stars}) }}
    {% endif %}
    {{ include("default/item_tags.html.twig") }}
{% endblock %}