 <div class="p-b-20">
        {% for category in mainCates %}
            {% set tab_index = loop.index %}
        <div class="tab01 p-b-20">
            <div class="tab01-head how2 how2-cl{{ random(1,6) }} bocl12 flex-s-c m-r-10 m-r-0-sr991">

                <h3 class="f1-m-2 cl{{ random(10,18) }} tab01-title">
                    {{ category.name }}
                </h3>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    {% for child_cate in category.categories|slice(0, 3) %}
                        <li class="nav-item">
                            <a class="nav-link {{ loop.first ? "active" }}" data-toggle="tab" href="#tab{{ tab_index }}-{{ loop.index }}" role="tab">{{ child_cate.name }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab{{ tab_index }}-{{ loop.index }}" role="tab">全部</a>
                        </li>
                    {% endfor %}

                    <li class="nav-item-more dropdown dis-none">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>

                        <ul class="dropdown-menu">

                        </ul>
                    </li>
                </ul>

                <!--  -->
                <a href="{{ path("category_show",{"id":category.id}) }}" class="tab01-link f1-s-1 cl9 hov-cl10 trans-03">
                    更多
                    <i class="fs-12 m-l-5 fa fa-caret-right"></i>
                </a>
            </div>

            <!-- Tab panes -->
            <div class="tab-content p-t-35">
                <!-- - -->
                {% for index,sub_cate in category.categories %}
                    {{ include("default/item_tabs.html.twig",{"album_items" : sub_cate.publishedAlbums, "curr_cate" : sub_cate,"first" : loop.first, "tab_index" : tab_index, "tabp_index": loop.index }) }}
                    {% else %}
                        {{ include("default/item_tabs.html.twig",{"album_items" : category.publishedAlbums, "curr_cate" : category, "first" : true, "tab_index" : tab_index, "tabp_index": 1 }) }}
                {% endfor %}
            </div>
        </div>
            {% else %}
            没有数据
        {% endfor %}
 </div>
