<div class="sub-mega-menu">
    <div class="nav flex-column nav-pills" role="tablist">
        {% for cate in sub_menues %}
        <a class="nav-link" data-toggle="pill" href="#news-{{ loop.index0 }}" role="tab">{{ cate.name }}</a>
        {% endfor %}
    </div>

    <div class="tab-content">
        {% for key,menu_item in sub_menues %}
        {% for album in menu_item.megon|slice(0,4) %}
            {% if loop.first %}
        <div class="tab-pane show" id="news-{{ key }}" role="tabpanel"><!-- 最多五个项目 -->
            <div class="row">
                {% endif %}
                <div class="col-3">
                    <!-- Item post -->
                    <div>
                        <a href="{{ path('album_show',{id: album.id}) }}" class="wrap-pic-w hov1 trans-03">
                            <img src="{{ album.picPath|imagine_filter("mega_img") }}" alt="">
                        </a>

                        <div class="p-t-10">
                            <h5 class="p-b-5">
                                <a href="{{ path('album_show',{id: album.id}) }}" class="f1-s-5 cl3 hov-cl10 trans-03">
                                    {{ album.name }}
                                </a>
                            </h5>

                            <span class="cl8">
                                <a href="{{ path('album_show',{id: album.id}) }}" class="f1-s-6 cl8 hov-cl10 trans-03">
                                    {{ album.category }}
                                </a>

                                <span class="f1-s-3 m-rl-3">
                                    -
                                </span>

                                <span class="f1-s-3">
                                    {{ album.publishedAt|date("Y-m-d H:i:s") }}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            {% if loop.last == album %}
            </div>
        </div>
            {% endif %}
        {% endfor %}
        {% endfor %}

    </div>
</div>