{% extends 'base.html.twig' %}

{% block title %}Navigation index{% endblock %}

{% block body %}
    <h1>Navigation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Keywords</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for navigation in navigations %}
            <tr>
                <td>{{ navigation.id }}</td>
                <td>{{ navigation.name }}</td>
                <td>{{ navigation.keywords }}</td>
                <td>{{ navigation.description }}</td>
                <td>
                    <a href="{{ path('navigation_show', {'id': navigation.id}) }}">show</a>
                    <a href="{{ path('navigation_edit', {'id': navigation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('navigation_new') }}">Create new</a>
{% endblock %}
