{% extends 'base.html.twig' %}

{% block title %}Settings index{% endblock %}

{% block body %}
    <h1>Settings index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SiteName</th>
                <th>Keywords</th>
                <th>Description</th>
                <th>CopyRight</th>
                <th>Email</th>
                <th>Beian</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.id }}</td>
                <td>{{ setting.siteName }}</td>
                <td>{{ setting.keywords ? setting.keywords|join(', ') : '' }}</td>
                <td>{{ setting.description }}</td>
                <td>{{ setting.copyRight }}</td>
                <td>{{ setting.email }}</td>
                <td>{{ setting.beian }}</td>
                <td>{{ setting.address }}</td>
                <td>
                    <a href="{{ path('settings_show', {'id': setting.id}) }}">show</a>
                    <a href="{{ path('settings_edit', {'id': setting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('settings_new') }}">Create new</a>
{% endblock %}
