{% extends 'base.html.twig' %}

{% block title %}Friendship{% endblock %}

{% block body %}
    <h1>Friendship</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ friendship.id }}</td>
            </tr>
            <tr>
                <th>SiteName</th>
                <td>{{ friendship.siteName }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ friendship.link }}</td>
            </tr>
            <tr>
                <th>Enable</th>
                <td>{{ friendship.enable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('friendship_index') }}">back to list</a>

    <a href="{{ path('friendship_edit', {'id': friendship.id}) }}">edit</a>

    {{ include('friendship/_delete_form.html.twig') }}
{% endblock %}
