{% extends 'base.html.twig' %}

{% block title %}Album_show{% endblock %}

{% block notice %}
    {{ include("default/breadcrumb.html.twig",{"object":album}) }}
{% endblock %}

{% block main_sider %}
    <div class="p-r-10 p-r-0-sr991">
        <!-- Blog Detail -->
        <div class="p-b-70">
            <a href="{{ path('category_show',{'id':album.category.id}) }}" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
                {{ album.category.name }}
            </a>

            <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
                {{ album.name }}
            </h3>

            <div class="flex-wr-s-s p-b-40">
								<span class="f1-s-3 cl8 m-r-15">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										发布时间:
									</a>

									<span class="m-rl-3">-</span>

									<span>
										{{ album.publishedAt|date("Y年m月d日 H:i:s") }}
									</span>
								</span>

                <span class="f1-s-3 cl8 m-r-15">
									浏览量:{{ logViewed(album.id) }}
								</span>
            </div>

            {% for pic in pics %}
                <div class="wrap-pic-max-w p-b-30">
                    <img src="/{{ pic.webPath }}" alt="{{ pic.alt }}">
                </div>
                <p class="f1-s-11 cl6 p-b-25">
                    {{ album.summary ?: pic.title }}
                </p>
                <p class="f1-s-11 cl6 p-b-25">
                    {{ album.summary ?: pic.title }}
                </p>
                {% else %}
            {% endfor %}


            <!-- Tag -->
            <div class="flex-s-s p-t-12 p-b-15">
                <span class="f1-s-12 cl5 m-r-8">
                    标签:
                    {% for tag in getTags() %}
                        <a href="{{ path('tags_show',{'id':tag.id}) }}" class="f1-s-12 cl8 hov-link1 m-r-15">
                    {{ tag.name }}
                </a>
                    {% else %}
                        没有内容
                    {% endfor %}
                </span>
            </div>

            {% if pics.haveToPaginate %}
            <div class="flex-wr-c-c m-rl--7 p-t-15">
                {{ pagerfanta(pics,"twitter_bootstrap4",{ 'proximity': 2}) }}
            </div>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block right_sider %}
    {{ include("default/height-main-right.html.twig",{'albums':album.category.albums,"stars":{0:album.star}}) }}
    {{ include("default/item_tags.html.twig") }}
{% endblock %}

{% block midle_bottom %}
    {{ include("default/new_content.html.twig",{'name': '相关内容','col': 3,'albums': album.category.albums |sortBy('publishedAt','DESC')|slice(0,12)}) }}
{% endblock %}